.header {
    background: #1A3035;
    padding: 20px 0 15px;
    border-bottom: 1px solid #dedede;
  }

.logo {
    display: block;
    width: 120px;
    margin: auto;
}

.logo svg {
    fill: #0c6;
}
